# מספרים ועוד בפייתון

בהרצאה זו נלמד על מספרים בפיתון וכיצד להשתמש בהם.

נלמד על הנושאים הבאים:

     1.) סוגי מספרים בפיתון
     2.)  )חשבון אקדמי
     3.) הבדלים בין חלוקה קלאסית לחלוקת רצפה
     4.) הקצאת אובייקטים בפייתון

## סוגי מספרים

לפיתון "סוגים" שונים של מספרים (מילוליות מספרית). נתמקד בעיקר במספרים שלמים ומספרי נקודות צפות.

מספרים שלמים הם רק מספרים שלמים, חיוביים או שליליים. לדוגמה: 2 ו -2 הם דוגמאות למספרים שלמים.

מספרי נקודות נקודה צפות בפיתון בולטים מכיוון שיש בהם נקודה עשרונית, או משתמשים במערך (e) כדי להגדיר את המספר. לדוגמה 2.0 ו -2.1 הם דוגמאות למספרי נקודות צפות. 4E2 (4 פעמים 10 לכוח של 2) הוא גם דוגמא למספר של נקודה צפה בפיתון.

לאורך קורס זה נעבוד בעיקר עם מספרים שלמים או סוגים פשוטים של מספרים צפים.

להלן טבלה של שני הסוגים העיקריים שנבזבז את רוב זמננו בעבודה עם כמה דוגמאות:

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

בוא נתחיל במספר פעולות חשבון

## פעולות בסיסיות בחשבון

In [3]:
# חיבור
2+1

3

In [2]:
# חיסור
2-1

1

In [3]:
# כפל
2*2

4

In [4]:
# חילוק
3/2

1.5

In [4]:
# חילוק ללא שארית
7//4

1

In [6]:
# שארית
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

### המשך פעולות אריתמטיות

In [1]:
#חזקה
2**3

8

In [6]:
# שורש/ שבר חזקה
4**0.5

2.0

In [6]:
(3**3)

27

In [7]:
# סדר פעולות חשבון
2 + 10 * 10 + 3

105

In [8]:
# שימוש בסוגריים
(2+10) * (10+3)

156

##  השמת משתנים

כעת, לאחר שראינו כיצד להשתמש במספרים בפייתון כמחשבון בואו נראה כיצד אנו יכולים להקצות שמות וליצור משתנים.

אנו משתמשים בסימן שווה יחיד כדי להקצות תוויות למשתנים. בואו נראה כמה דוגמאות כיצד אנו יכולים לעשות זאת.

In [10]:
# ניצור משתנה עם הספרה 5 ששמו a
a = 5

נפעיל סקריפט, ונשחק עם המשתנה

In [12]:
# Adding the objects
a+a

10

השמה מחדש. מה קורה כשמבצעים השמה מחדש? הערך החדש נשמר והקודם נהרס

In [11]:
# השמה מחדש
a = 10

In [14]:
# בדיקה
a

10

##### פייתון מאשר השמה מחדש על השמה מחדש על השמה מחדש

In [15]:
# Check
a

10

In [16]:
# השמה להשמה
a = a + a

In [17]:
# בדיקה 
a

20

השמות שבהם אתה משתמש בעת יצירת תוויות אלה צריכים לבצע כמה כללים:

     1. שמות לא יכולים להתחיל עם מספר.
     2. לא יכולים להיות רווחים בשם, השתמש במקום זאת _.
     3. לא ניתן להשתמש באף אחד מהסמלים הבאים: '", <> /? | \ ()! @ # $% ^ & * ~ - +
     4. זה נחשב לשיטות העבודה המומלצות (PEP8) ששמות הם אותיות קטנות.
     5. הימנע משימוש בתווים 'l' (אותיות קטנות el), 'O' (אותיות גדולות אה)
        או 'אני' (עין אותיות גדולות) כשמות משתנים של תו יחיד.
     6. הימנע משימוש במילים שיש להם משמעות מיוחדת בפייתון כמו "רשימה" ו- "str"


שימוש בשמות משתנים יכול להיות דרך שימושית מאוד לעקוב אחר משתנים שונים בפיתון. לדוגמה:

In [7]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [8]:
# Show my taxes!
my_taxes

10.0

אז מה למדנו? למדנו כמה מהיסודות של המספרים בפייתון. למדנו גם כיצד לעשות חשבון ולהשתמש בפייתון כמחשבון בסיסי. אז עטפנו את זה בלימוד על הקצאה משתנה בפייתון.

בשלב הבא נלמד על מיתרים!